# 1. Ignorar la carpeta .metadata de Eclipse
.metadata/** linguist-vendored

# 2. Ignorar los archivos .project y .classpath
.project linguist-vendored
.classpath linguist-vendored

# 3. Ignorar las carpetas de compilación
target/** linguist-generated
build/** linguist-generated